# INFO 2950 Final Project Phase Appendix

### Members: Lindsay Kim (ek532), Sung Woo Min (sm2598)

### Data Cleaning

We got the data from http://insideairbnb.com/get-the-data.html and used `listings.csv.gz`, which consists of detailed listings data for New York City.

In [36]:
# Load all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
sns.set_style('white')
from sklearn.linear_model import LinearRegression
from scipy import stats
from scipy.optimize import curve_fit

In [37]:
raw_df = pd.read_csv('listings.csv')

We have `36923` rows in our raw data.

In [38]:
print(len(raw_df))

36923

In [39]:
raw_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In order to focus on our research question, we drop irrelevant columns that do not pertain to our analysis.

In [40]:
raw_df.drop(['listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about', 'host_identity_verified',
       'host_response_time', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_response_rate', 'host_acceptance_rate',
       'host_total_listings_count', 'host_verifications', 'host_listings_count',
       'host_has_profile_pic', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude','longitude', 'property_type', 'room_type', 'amenities',
       'bathrooms_text', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'calendar_last_scraped',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'], axis=1, inplace=True)

In [41]:
raw_df.columns

Index(['id', 'host_is_superhost', 'neighbourhood_group_cleansed',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'review_scores_rating', 'reviews_per_month'],
      dtype='object')

In [42]:
raw_df.head()

,id,host_is_superhost,neighbourhood_group_cleansed,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,reviews_per_month
0,2595,f,Manhattan,1,NaN,NaN,1.0,150,30,5,35,65,340,48,4.70,0.33
1,3831,f,Brooklyn,3,NaN,1.0,3.0,76,1,0,4,9,208,408,4.46,5.03
2,5121,f,Brooklyn,2,NaN,1.0,1.0,60,30,30,60,90,365,50,4.52,0.54
3,5136,f,Brooklyn,4,NaN,2.0,2.0,275,5,0,0,0,204,2,5.00,0.02
4,5178,f,Manhattan,2,NaN,1.0,1.0,68,2,1,5,14,243,490,4.21,3.64

We change `N/A` values in our columns to a `boolean` for data cleaning.

In [43]:
missing = raw_df.isna()
missing.head()

,id,host_is_superhost,neighbourhood_group_cleansed,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,reviews_per_month
0,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [44]:
num_missing = missing.sum()
num_missing

id                                  0
host_is_superhost                 111
neighbourhood_group_cleansed        0
accommodates                        0
bathrooms                       36923
bedrooms                         3936
beds                              611
price                               0
minimum_nights                      0
availability_30                     0
availability_60                     0
availability_90                     0
availability_365                    0
number_of_reviews                   0
review_scores_rating             9296
reviews_per_month                9296
dtype: int64

Listings without reviews have missing values for `review_scores_rating`. For these listings the missing values will be replaced by `0` for data analysis. We decide to replace `NA` values to `0` as null values indicate that there are no reviews for this listing.

In [45]:
raw_df.fillna({'review_scores_rating':0}, inplace=True)
raw_df.review_scores_rating.isnull().sum()

0

In [46]:
raw_df.fillna({'bathrooms':0}, inplace=True)
raw_df.bathrooms.isnull().sum()

0

In [47]:
raw_df.fillna({'bedrooms':0}, inplace=True)
raw_df.bedrooms.isnull().sum()

0

In [48]:
raw_df.fillna({'beds':0}, inplace=True)
raw_df.beds.isnull().sum()

0

In [49]:
raw_df.fillna({'reviews_per_month':0}, inplace=True)
raw_df.reviews_per_month.isnull().sum()

0

In [50]:
raw_df.head()

,id,host_is_superhost,neighbourhood_group_cleansed,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,reviews_per_month
0,2595,f,Manhattan,1,0.0,0.0,1.0,150,30,5,35,65,340,48,4.70,0.33
1,3831,f,Brooklyn,3,0.0,1.0,3.0,76,1,0,4,9,208,408,4.46,5.03
2,5121,f,Brooklyn,2,0.0,1.0,1.0,60,30,30,60,90,365,50,4.52,0.54
3,5136,f,Brooklyn,4,0.0,2.0,2.0,275,5,0,0,0,204,2,5.00,0.02
4,5178,f,Manhattan,2,0.0,1.0,1.0,68,2,1,5,14,243,490,4.21,3.64

We can conclude that there are few rows and columns with missing values in our dataset which further helps us argue that the analysis done on this data is performed without much loss of information.

We saved our cleaned data to `new_listings.csv`.

In [51]:
# save to new csv file for later reuse
raw_df.to_csv('new_listings.csv', index=False)